[filter "gitignore"]
	clean = "sed -r 's/(.*Version: [0-9/.]*)-.*/\\1/g'"
[filter "gitignore2"]
	clean = "sed -r '/== Developer Guide ==/q'"
[filter "gitignore2Backup"]
	clean = "sed -r '/== Changelog ==/q'"